@model List<Task1.DataModel.Invoice>

@{
    ViewData["Title"] = "Invoices";
}

<h1>Invoices</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>Code</th>
            <th>Registration Date</th>
            <th>Customer Name</th>
            <th>Products</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
               
                <td>@invoice.Code</td>
                <td>@invoice.RegisterationDate.ToString("yyyy-MM-dd")</td>
                <td>@invoice.CustomerName</td>
                <td>
                    <ul>
                        @foreach (var product in invoice.Products)
                        {
                            <li>@product.Name - @product.Price.ToString("C")</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Print", "Print", new { InvioceId = invoice.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
